name: 'build'

on:
  push:
    branches:
      - 'main'
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  build:
    name: Build Examples
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        espidf_target:
          - esp32c3
        example_path:
          - 'examples/basic'
          - 'examples/pcf8574_input'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Build ${{ matrix.example_path }}
        uses: espressif/esp-idf-ci-action@v1
        with:
          esp_idf_version: v5.5.3
          target: ${{ matrix.espidf_target }}
          path: ${{ matrix.example_path }}
